<div style="font-family: Arial, sans-serif; padding: 20px; border:1px solid #ddd; border-radius:8px;">
    <img src="https://res.cloudinary.com/dza1cmbrs/image/upload/v1758181116/company_689f66cc02f71ea3153239e5/i7p0pmhetucfmu5txh7dhv292.jpg" alt="Company Logo" width="120" style="margin-bottom:20px;" />
  
    <h2 style="color:#333;">Payroll Approved</h2>
    <p>Dear {{name}},</p>
    <p>Your salary slip for <strong>{{month}}</strong> has been processed.</p>
  
    <p style="margin-top:20px;">Thank you for your service.</p>
  
    <footer style="margin-top:20px; font-size:12px; color:#777;">
      &copy; 2025 Your Company Name. All Rights Reserved.
    </footer>
  </div>
  